# Aula 15

In [2]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('csv/dados_aula15.csv')
df.head()

,Categoria_do_egresso,Categoria_do_egresso_categórico,Escolaridade_do_pai,Escolaridade_do_pai_categórico,Escolaridade_do_pai_padronizado_categórico,Escolaridade_da_mãe,Escolaridade_da_mãe_categórico,Escolaridade_da_mãe_padronizado_categórico,Frequência_ao_cinema,Frequência_ao_cinema_categórico,...,Frequência_a_museus,Frequência_a_museus_categórico,Nº_de_viagens_ao_exterior_nas_férias,Nº_de_viagens_ao_exterior_nas_férias_categórico,Nº_de_viagens_ao_exterior_nas_férias_padronizado,Escolaridade_da_ocupação,Escolaridade_da_ocupação_categórico,Remuneração,Remuneração_categórico,Remuneração_padronizada_categórico
0,"Cotista (vagas de cotas, ações afirmativas)",1,Ensino Médio Completo,5.0,3.0,Ensino Médio Completo,5.0,3.0,Ocasionalmente,3,...,Nunca,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Não cotista (vagas de ampla concorrência),2,Ensino Superior Completo,7.0,4.0,Ensino Superior Completo,7.0,4.0,Frequentemente,4,...,Raramente,2,NaN,NaN,NaN,Ensino Médio Completo,3.0,"De 1,5 a 2 salários mínimos (de R$ 1.650,01 a ...",3.0,2.0
2,Não cotista (vagas de ampla concorrência),2,Ensino Médio Incompleto,4.0,2.0,Ensino Fundamental Completo,3.0,2.0,Raramente,2,...,Nunca,1,NaN,NaN,NaN,Ensino Superior Completo,4.0,"De 5 a 7 salários mínimos (de R$ 5.500,01 a R$...",8.0,3.0
3,"Cotista (vagas de cotas, ações afirmativas)",1,Ensino Médio Completo,5.0,3.0,Ensino Médio Completo,5.0,3.0,Raramente,2,...,Nunca,1,NaN,NaN,NaN,Ensino Superior Completo,4.0,"Até 1 salário mínimo (até R$ 1.100,00)",1.0,1.0
4,Não cotista (vagas de ampla concorrência),2,Ensino Fundamental Incompleto,2.0,1.0,Ensino Fundamental Incompleto,2.0,1.0,Raramente,2,...,Nunca,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Filtro para colunas que queremos

In [9]:
columns = [
    'Categoria_do_egresso',
    'Escolaridade_do_pai',
    'Escolaridade_da_mãe'
    ]

df_filtraddo = df[columns]
df_filtraddo.head()

,Categoria_do_egresso,Escolaridade_do_pai,Escolaridade_da_mãe
0,"Cotista (vagas de cotas, ações afirmativas)",Ensino Médio Completo,Ensino Médio Completo
1,Não cotista (vagas de ampla concorrência),Ensino Superior Completo,Ensino Superior Completo
2,Não cotista (vagas de ampla concorrência),Ensino Médio Incompleto,Ensino Fundamental Completo
3,"Cotista (vagas de cotas, ações afirmativas)",Ensino Médio Completo,Ensino Médio Completo
4,Não cotista (vagas de ampla concorrência),Ensino Fundamental Incompleto,Ensino Fundamental Incompleto