## Projeto 1 -

In [84]:
!pip install --upgrade pip

Requirement already satisfied: pip in /opt/miniconda/envs/jupyterlab/lib/python3.13/site-packages (25.0.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [85]:
# !pip install pandas
# # !pip install csv
# !pip install git+https://github.com/hashiprobr/netpixi.git
# !pip install graph-tool-extras

In [86]:
# import graph_tool_extras as gte
import pandas as pd
import csv
import netpixi
import graph_tool_extras as gte

In [87]:
df = pd.read_csv('imdb_movies.csv')
df.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70.0,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61.0,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [88]:
df['date_x'] = df['date_x'].str.strip().replace('', pd.NA)
df = df.dropna(subset=['date_x'])
df['date_x'] = pd.to_datetime(df['date_x'], format='%m/%d/%Y', errors='coerce')

In [89]:
df.dtypes

names                 object
date_x        datetime64[ns]
score                float64
genre                 object
overview              object
crew                  object
orig_title            object
status                object
orig_lang             object
budget_x             float64
revenue              float64
country               object
dtype: object

In [90]:
# df_filtered = df[df['date_x'].dt.year > 2020]
df_recente = pd.DataFrame()

# Pega linhas com ano DEPOIS de 2020 e nota MAIOR ou IGUAl a 70.0
for idx, row in df.iterrows():
    ano = row['date_x'].year
    score = row['score']
    # print(score > 70)
    if ano >= 2020 and score > 70.0:
        # print('   Entrou mesmo assim')
        df_recente = pd.concat([df_recente, row.to_frame().T], ignore_index=True)

# Apaga as linhas com valores NaN
df_recente.dropna(subset='names')
df_recente.head()

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02 00:00:00,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,271616668.0,AU
1,Avatar: The Way of Water,2022-12-15 00:00:00,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2316794914.0,AU
2,The Super Mario Bros. Movie,2023-04-05 00:00:00,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,724459031.0,AU
3,John Wick: Chapter 4,2023-03-23 00:00:00,80.0,"Action, Thriller, Crime","With the price on his head ever increasing, Jo...","Keanu Reeves, John Wick, Donnie Yen, Caine, Bi...",John Wick: Chapter 4,Released,English,100000000.0,351349364.0,AU
4,Puss in Boots: The Last Wish,2022-12-26 00:00:00,83.0,"Animation, Family, Fantasy, Adventure, Comedy",Puss in Boots discovers that his passion for a...,"Antonio Banderas, Puss in Boots (voice), Salma...",Puss in Boots: The Last Wish,Released,English,90000000.0,483480577.0,AU

In [91]:
df_recente.head()

# Deleta duplicados (GRRRRRR)
df_recente.drop_duplicates(subset=['names'])

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,2023-03-02 00:00:00,73.0,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,271616668.0,AU
1,Avatar: The Way of Water,2022-12-15 00:00:00,78.0,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2316794914.0,AU
2,The Super Mario Bros. Movie,2023-04-05 00:00:00,76.0,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,724459031.0,AU
3,John Wick: Chapter 4,2023-03-23 00:00:00,80.0,"Action, Thriller, Crime","With the price on his head ever increasing, Jo...","Keanu Reeves, John Wick, Donnie Yen, Caine, Bi...",John Wick: Chapter 4,Released,English,100000000.0,351349364.0,AU
4,Puss in Boots: The Last Wish,2022-12-26 00:00:00,83.0,"Animation, Family, Fantasy, Adventure, Comedy",Puss in Boots discovers that his passion for a...,"Antonio Banderas, Puss in Boots (voice), Salma...",Puss in Boots: The Last Wish,Released,English,90000000.0,483480577.0,AU
...,...,...,...,...,...,...,...,...,...,...,...,...
688,Flee,2022-02-17 00:00:00,78.0,"Documentary, Animation",Recounted mostly through animation to tell a g...,"Amin Nawabi, Self (voice), Daniel Karimyar, Am...",Flugt,Released,Danish,3400000.0,440544.0,AU
689,The Secret to Be Told: Relationship With My Aunt,2020-07-06 00:00:00,73.0,"Drama, Romance",Minwoo falls in love with an aunt younger than...,"Yoo Jung, , Ahn So-hee, , James, , Kang Min-woo,",말할 수 없는 비밀 : 이모와의 관계,Released,Korean,58000000.0,626713614.8,KR
690,Dragons: Rescue Riders: Secrets of the Songwing,2020-07-24 00:00:00,78.0,"Animation, Family, TV Movie",When a musical dragon with a beautiful voice h...,"Noah Kaye Bentley, Burple (voice), Brennley Br...",Dragons: Rescue Riders: Secrets of the Songwing,Released,English,62000000.0,183866850.0,US
691,K.G.F: Chapter 2,2022-04-14 00:00:00,76.0,"Action, Crime, Drama",The blood-soaked land of Kolar Gold Fields (KG...,"Yash, Raja Krishnappa Bairya 'Rocky', Sanjay D...",ಕೆ.ಜಿ.ಎಫ್: Chapter 2,Released,Kannada,13000000.0,90410749.0,IN
692,Marshall,2020-06-07 00:00:00,73.0,Drama,"Thurgood Marshall, the first African-American ...","Chadwick Boseman, Thurgood Marshall, Josh Gad,...",Marshall,Released,English,12000000.0,10116816.0,AU

In [92]:
df_recente.drop_duplicates(subset='names', inplace=True)
print(df_recente[df_recente.duplicated(subset='names', keep=False)])

Empty DataFrame
Columns: [names, date_x, score, genre, overview, crew, orig_title, status, orig_lang, budget_x, revenue, country]
Index: []

## Criando o Grafo

In [93]:
# Peguei essa logica da Aula 3, qualquer coisa da uma olhada
g = gte.Graph(directed=False) # igual a gte.Graph(), pois directed é falso por padrão

vertice_tipo = g.new_vertex_property("string")
g.vertex_properties["tipo"] = vertice_tipo

In [94]:
filmes = [g.add_vertex_by_id(nome) for nome in df_recente['names']]
for v in filmes:
    vertice_tipo[v] = "Filme"

In [95]:
# pos = gte.layout_bipartite(g, v_tipo)

# graph_draw(g, pos=pos, vertex_text=v_tipo, output_size=(400, 400), output="rede_bipartida.png")

In [96]:
# Criando o vertice de generos. Antes de fazer isso temos q separar os generos de cada filme, por exemplo: em um filme q tenha Drama, Action como generos, temos q criar uma lista com os dois separados
generos = set()
genero = []
for genre in df_recente['genre']:
    for g in genre.split(','):
        g_limpo = g.strip()
        genero.append(g_limpo)
    generos.update(genero)
    # print(generos)

for gen in generos:
    v = g.add_vertex_by_id(gen)
    vertice_tipo[v] = "Gênero"

AttributeError: 'str' object has no attribute 'add_vertex_by_id'